## Activity 1.1

### Given Data
| Number of litres of petrol purchased | Number of customers |
|-------------------------------------|---------------------|
| 0 and < 2                           | 15                  |
| 2 and < 4                           | 40                  |
| 4 and < 6                           | 65                  |
| 6 and < 8                           | 40                  |
| 8 and < 10                          | 30                  |
| 10 and < 12                         | 10                  |

In [ ]:
# Intializing the data
customers = [15, 40, 65, 40, 30, 10]
range = ['0-2','2-4','4-6','8-10','10-12' ]
total_customers = sum(customers)
print(total_customers)